* {
    margin: 0;
    padding: 0;
    
  }

html{
    height: 100%;
    width: 100%;
    font-size:100%; 
    background-color:#F6C6EA ;
}

body{
    width: 100%;
    height: 100%;
   } 

h1{
    text-align:center;
    margin: 2.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 55px;
} 

.link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 2rem;
}

.insertion{
    text-align: center;
    margin: 2.5%;
}

.re{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    padding: 2.5rem;
    width: 25rem;
    margin-bottom: 3rem;
    margin-top: 2rem; 
    text-align: center; 
    font-size: 2rem;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calcheight{
    height: 49px;
    width: 154px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;


}

.calcweight{
    height: 49px;
    width: 154px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;

}

.check{
    height: 29px;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;
}

